* {
    box-sizing: border-box;
    font-family: mons;
}
:root {
    --major: #001F3F;
    --secondary: #F5F5DC;
    --accent: #FFD700;
    --accent-dark: #C0A000;
    --accent-gradient: linear-gradient(to right, #FFD700, #C0A000);
    --text: #FFFFFF;
    --text-dark: #333333;
}
body {
    margin: 0;
    padding: 0;
    display: flex ;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'Open Sans', Arial, sans-serif;
    color: var(--text);
    background:#0D133D;
    min-height: 100vh;
    width: 100%;
}
.spacer{
    margin-top: 80px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
justify-content: center;

}
.content{
      width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    align-items: center;
    padding: 1rem;
    background: transparent;
    position: relative;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0,
    0, 0.2);
    overflow-y: auto;
}


.content li{
   margin-top: 50px;
  font-size: 1.5rem;
  color: var(--text);
}   


