* {
    box-sizing: border-box;
    font-family: mons;
}
:root {
    --major: #001F3F;
    --secondary: #F5F5DC;
    --accent: #FFD700;
    --accent-dark: #C0A000;
    --accent-gradient: linear-gradient(to right, #FFD700, #C0A000);
    --text: #FFFFFF;
    --text-dark: #333333;
}
body {
    margin: 0;
    padding: 0;
    display: flex ;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'Open Sans', Arial, sans-serif;
    color: var(--text);
    background:#0D133D;
    min-height: 100vh;
    width: 100%;
}
.spacer{
    margin-top: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
justify-content: center;

}
.content{
      width: 80%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    align-items: center;
    padding: 1rem;
    /* background: var(--accent-dark) ; */
    position: relative;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0,
    0, 0.2);
    overflow-y: auto;
   

   
}


.content a{
    display: inline;
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--text);
}   


.content { 
  --filter-glass3d: blur(1px) brightness(0.7) saturate(4); 
  --color-glass3d: hsl(239 80% 1% / 0.2); 
  --noise-glass3d: url("https://www.transparenttextures.com/patterns/egg-shell.png"); 

  position: relative; 
  z-index: 4; 
  box-shadow:  
    0 0 0.75px hsl(205 20% 10% / 0.2), 
    0.7px 0.8px 1.2px -0.4px hsl(205 20% 10% / 0.1), 
    1.3px 1.5px 2.2px -0.8px hsl(205 20% 10% / 0.1), 
    2.3px 2.6px 3.9px -1.2px hsl(205 20% 10% / 0.1), 
    3.9px 4.4px 6.6px -1.7px hsl(205 20% 10% / 0.1), 
    6.5px 7.2px 10.9px -2.1px hsl(205 20% 10% / 0.1), 
    8px 9px 14px -2.5px hsl(205 20% 10% / 0.2); 
}

.content::before { 
  content: ""; 
  position: absolute; 
  inset: 0; 
  pointer-events: none; 
  border-radius: inherit; 
  overflow: hidden; 
  z-index: 3; 
  
  -webkit-backdrop-filter: var(--filter-glass3d); 
  backdrop-filter: var(--filter-glass3d); 
  background-color: var(--color-glass3d); 
  background-image: var(--noise-glass3d); 
  background-size: 100px; 
  background-repeat: repeat; 
}

.content::after { 
  content: ""; 
  position: absolute; 
  inset: 0; 
  pointer-events: none; 
  border-radius: inherit; 
  overflow: hidden; 
  z-index: 5; 
  
  box-shadow: 
    inset 2px 2px 1px -3px hsl(205 20% 90% / 0.8), 
    inset 4px 4px 2px -6px hsl(205 20% 90% / 0.3), 
    inset 1.5px 1.5px 1.5px -0.75px hsl(205 20% 90% / 0.15), 
    inset 1.5px 1.5px 0.25px hsl(205 20% 90% / 0.03), 
    inset 0 0 0.25px 0.5px hsl(205 20% 90% / 0.03); 
}

.content > * { 
  position: relative; 
  z-index: 6; 
}
